# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/urban-growth
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/urban-growth
MONGODB_URI=mongodb://localhost:27017/urban-growth

# Server Port
PORT=5000
